nav{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content:space-between;
  align-items: stretch;
  background: #010000;
}

.logo a {
  margin-left: 30px;
  color: #F2F2F2;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  font-size: 1.7em;
  background: #010000;
  font-family: 'Lobster', cursive;
}

ul {
  list-style: none;
  display: flex;
  background: #010000;
}

nav li a {
  color: #8C8C8C;
  display: block;
  text-decoration: none;
  padding: .5em 1em;
  padding-top: 1em;
  font-size: 1.2em;
  font-family: 'Zilla Slab', serif;
}

nav li a:hover{
  color: #F2F2F2;
}
